.navbar {
    background-color: #FE4A49;
}

.nav-link {
  color: #ffffff;
  text-transform: uppercase;
}

.nav-link:hover {
  color:hsl(39, 100%, 63%);
}

.navAct {
  font-weight: bold;
  text-decoration: underline;
}