.navbar {
    background-color: #FE4A49;
}

.nav-link {
  color: #ffffff;
  text-transform: uppercase;
}

.nav-link:hover {
  color:hsl(39, 100%, 63%);
}

.navAct {
  font-weight: bold;
  text-decoration: underline;
}

.bg-pri {
  background-color: #968bff;
}

.px-10 {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 2rem;
}

.bluCont {
  background-color: #007CBE;
  border-radius: 2rem;
  padding: 10%;
  height: 25rem;
}

.custom-scale {
  scale: 0.85;
}

h-custom{
  height: 10rem;
}