.navbar {
    background-color: #FE4A49;
}

.nav-link {
  color: #ffffff;
  text-transform: uppercase;
}

.nav-link:hover {
  color:hsl(39, 100%, 63%);
}

.navAct {
  font-weight: bold;
  text-decoration: underline;
}

.bg-pri {
  background-image: url("./public/images/PAGE\ HOME.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.px-10 {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 2rem;
}

.bluCont {
  background-color: #007CBE;
  border-radius: 2rem;
  padding: 10%;
  height: 25rem;
}

.custom-scale {
  scale: 0.85;
}

h-custom{
  height: 10rem;
}

.bg-about{
  background-image: url(./public/images/ABOUT\ PAGE.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.ticket-container{
  background-color: #FED766;
  margin: 5%;
  padding: 5%;
  text-align: center;
  border: #7B4B94 1.5rem solid;
  max-width: 450px;
  border-radius: 4rem;
  color: #7B4B94;
}

.in-class {
  background-color: #7B4B94;
  color: #FED766;
  border-radius: 1rem;
  display: flex;
  line-height: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 1rem;
}

.in-class li {
  list-style-type: none;
  text-align: left;
}